<h2>Bulb tools</h2>
<button (click)="open()">Open</button>
<button (click)="close()">Close</button>

<h4>{{messages[0].date.toISOString()}}</h4>
<figure id="scatter"></figure>
<button (click)="redraw()">Force Redraw</button>
<!-- <div class="message">
  <p *ngFor="let message of messages; let i = index;">
    Topic: {{message.topic}}| Data:{{message.data}}| Date: {{message.date | date:'yyyy-MM-dd HH:mm'}}
    Topic: {{message.topic}}| Data:{{message.data}}| Date: {{message.date.toDateString()}}
  </p>
</div> -->
